/ // Begin Sidebar \\
%td#templateSidebar{:valign => "top", :width => "200"}
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "200"}
    %tr
      %td.sidebarContent{:valign => "top"}
        / // Begin Module: Top Image with Content \\
        %table{:border => "0", :cellpadding => "20", :cellspacing => "0", :width => "100%"}
          %tr
            %td{:valign => "top"}
              = image_tag '/images/mindhub_logo.png', :style => "max-width:160px;"
              %div
                .well.well-small
                  %h4 Need Help?
                  %hr
                  %p
                    The
                    = link_to 'FAQ', faq_url
                    is a resource for you to hopefully get your questions
                    answered.  If you don't find the answers you're looking
                    for, check out the
                    = link_to 'Admin spoke', spoke_url(admin_spoke)
                    where the site admins post updates about the site. If
                    you're still stuck,
                    = mail_to 'admin@chat.mindhub.org', 'Email Us'
                    and get back to you as soon as we can.

        / // End Module: Top Image with Content \\
/ // End Sidebar \\
