!!!
%p
  = unexpected_error.html_safe

%hr

%table
  %tr
    %td
      %b Spoke
    %td
      = @post.spoke.name

  %tr
    %td
      %b Post title
    %td
      = @post.title

  %tr
    %td
      %b Post content
    %td
      = @post.content

%hr

%p
  Sincerely,
  %br
  %br
  The MindHub Folks
