<div class="container">
  <div class="row">
    <div class="col-md-8">
      <header id="admin-sign-in">
        <h3>Sign In</h3>
      </header>

      <%= form_tag admin_sessions_path, class: 'form-horizontal', role: 'form' do %>
          <div class="form-group">
            <label for="email" class="col-md-2 control-label">Email</label>
            <div class="col-md-6">
              <%= text_field_tag :email, params[:email] %>
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-md-2 control-label">Password</label>
            <div class="col-md-6">
              <%= password_field_tag :password %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
              <button class="btn btn-default" ><%= submit_tag "Sign In"%></button>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
