- if user.email == "admin@mindhub.org"
  = check_box_tag 'is_admin', !user.admin?, user.admin?, id: user.id,
    disabled: true

- else
  = form_tag(admin_user_path(user), method: :put, remote: true) do
    = check_box_tag 'is_admin', !user.admin?, user.admin?, id: user.id,
      class: "confirm-selection checkable"
