- @posts_from_yesterday.each do |post|
  = "* #{post.title}"
  = link_to post.title, url_for(spoke_post_url(post.spoke.id, post.id))
  - body = post.content ? post.content[0..450] : "<Post body was empty.>"
  = raw body

*** NOTE:  If you'd like to stop receiving digest emails, login to mindhub.org,
go to your user account's profile page, click 'Edit profile', then
edit the 'Digest email' option.
