%p= nightly_intro

- @posts_from_yesterday.each do |post|
  %p
    = link_to post.title, url_for(spoke_post_url(post.spoke.id, post.id))

    %br
    - body = post.content ? post.content[0..450] : "<Post body was empty.>"
    = raw body

%br

%hr

%p
  = raw(unsubscribe_message)
