#check-spam
  %h2 How come I don't get emails from MindHub?

  %p
    If you've signed up for digest emails from MindHub and you're not getting
    emails, be sure to check your Spam folder and add a rule to your e-mail
    client to allow for emails from

    %tt digest@chat.mindhub.org

    \.

  %p
    If you'd like to receive digest emails from MindHub, just enable the setting
    in your user preferences,

    = link_to 'here.', edit_user_registration_path(current_user)
