- @sort_options.each do |option|
  - if option == @sort
    %li.active
      = link_to option.to_s.humanize, home_index_path(sort: option)
  - else
    %li
      = link_to option.to_s.humanize, home_index_path(sort: option)

