- page_title 'MindHub FAQ'

.page-header
  %h1 MindHub FAQ

  %br

  %p
    We aim to lend a hand, here, so if you have a question that you think should be
    answered here, please
    = link_to 'let the admins know.'

= render partial: 'faq_email_posting'
= render partial: 'faq_check_spam'
