.page-header
  %h1 Terms of Service
%h2 Mindhub Rules
%p
  Mindhub Rules are a public forum and, while we encourage a free flow of
  information and ideas on the boards, we also ask that you follow a few basic
  rules. By using or participating on Mindhub, you agree to the Rules of Conduct
  as stated below.

%h2 Moderation
%p
  Mindhub Rules are a moderated forum. However, the moderators cannot be
  everywhere and see everything. Because of this, please use these rules as a
  guideline as to what is and is not allowed, rather than the content of other
  users posts. If you see something that is against the Board Rules, please
  report it to the  HYPERLINK "http://boards.ign.com/Board_Issues/b5008/24938550"
  Contact Moderators thread. Note that the moderators have the final say-so in
  any situation that you report to the Contact Moderators thread. They will
  evaluate the situation on a case-by-case basis and take appropriate action
  where needed. If you feel a moderator did not handle the situation, please
  contact the Mindhub HYPERLINK "http://boards.ign.com/UserPages/ContactModSupport.aspx"
  Administrator.

%h3 What Is A Moderator?
%p
  A Moderator is a volunteer chosen by the Community Manager from among the
  userbase who gives of his/her valuable time to help keep the boards a fun
  place for everyone. They try hard to be fair but cannot be everywhere. Because
  of this, please use these rules as a guideline as to what is and is not allowed,
  rather than the content of other users posts. If you see something that is
  against the Board Rules, please report it to the
  HYPERLINK "http://boards.ign.com/Board_Issues/b5008/24938550" Contact Moderators
  Thread. Note that the moderators have the final say-so in any situation that
  you report to the Contact Moderators thread. They will evaluate the situation
  on a case-by-case basis and take appropriate action where needed. If you have
  an issue or question about a moderator, moderation, ban or the board rules,
  HYPERLINK "http://boards.ign.com/UserPages/ContactModSupport.aspx" please fill
  out this form.
 
%h3 What Do Moderators Do?
%p
  Moderators monitor board posts and respond to complaints to keep posting free
  of undesirable content as described in the Forum Rules and Mindhub User
  Agreement. They enforce the board rules, and can delete posts, edit posts as
  well as remove any user's ability to visit the boards. Please respect and
  adhere to moderators warnings, both public and private. Likewise, if your
  thread was deleted or locked by a moderator, do not repost or unlock the
  topic. They deserve respect and appreciation for their time.
 
%h3 Bans
%p
  If you log onto Mindhub and receive a message that you have been banned,
  please submit an unban request and wait for a Mindhub Moderator to get in
  touch with you. Bans are private matters between the Moderators and person
  banned and will not be discussed publicly or through third parties. It is not
  acceptable to return to the boards under another username. If you do, your ban
  time may be extended.
 
%h3 What If I Disagree With A Moderator?
%p
  Moderators are not perfect and are only human. Disagreements occur. Try to
  communicate with them first on a respectful level and settle your disagreement.
  They are not targets for your obscenities, flames or general insults. If you
  do not agree with a decision, you are not entitled to start a thread arguing
  about the verdict or flaming any of the moderators. Any such messages will be
  removed. This extends to Private Messages and unban requests as well, and you
  are not entitled to insult moderators via either of these methods. Also note
  that bans are between the user banned and the moderators, and moderators
  cannot respond about bans publicly. Any correspondence about ban length and
  reason will be handled through unban requests. If you feel a verdict or ban
  was unfair, please contact the Mindhub
  HYPERLINK "http://boards.ign.com/UserPages/ContactModSupport.aspx"
  Administrator before anything else and he will work with you regarding your
  situation.

%p
  Following are some things you'll want to keep in mind while posting on
  Mindhub. Please read the rules so you will be familiar with them:

%table.table
  %tbody
    %tr
      %th Flaming & Bashing
      %td
        %p
          Hate posts and personal attacks will not be tolerated on Mindhub. Treat
          others on these message boards as you would expect them to treat you.
          Talking trash about another user or posting topics specifically to
          provoke a negative response from an individual, a group or an entire
          community is not acceptable on Mindhub. These posts will be deleted and
          will result in a ban.
    %tr
      %th Pornography & Sexually Explicit Content
      %td
        %p
          Absolutely no forms of pornography or overly sexually suggestive imagery
          are allowed on the boards, this includes links and/or posting a name of
          a porn site. Please see
          HYPERLINK "http://boards.ign.com/babes/b5123/42603163/p1/?45" these
          guidelines for more detailed information on what is acceptable to post.
          Note that pornography is not limited to images - descriptive sexually
          explicit posting is also not allowed on the boards. This includes
          describing sexual acts in a profane manner or using sexual slang terms
          for body parts or actions. We allow mature discussions of sexuality, but
          the boards are not your bedroom, local bar, porn shop or back alley.
          Please keep all discussions on this subject mature and use proper terms.
    %tr
      %th Other Explicit Content
      %td
        %p
          Explicit images/videos, which include but not limited to death scenes,
          death pictures, torture, mutilation and human feces, are not allowed.
          Explicit written descriptions of these acts is also not allowed on the
          boards.
    %tr
      %th Pedophilia
      %td
        %p
          Content that in any way depicts or implies sexually
          explicit/suggestive/provocative/nude imagery of seemingly underage
          persons (under 18 years of age) is not allowed at the boards for any
          reason. Violators will be permanently banned and their accounts will be
          terminated. This includes but is not limited to all images, "friends"
          pictures or pictures taking from social networking sites, school sites,
          any joke-style images, written stories, jokes or remarks.. Any hint of
          pedophilia or related content will be dealt with harshly with the added
          possibility of Mindhub contacting your ISP and local authorities. Also
          note all these types of content can be subjective and Mindhub holds the
          right to make a judgment on what can fall under pedophilia related
          content. When in doubt -- leave it out.
 
%table.table
  %tbody
    %tr
      %th Racism/Hate
      %td
        %p
          Mindhub will not tolerate hate speech in any form. This includes but is
          not limited to racist slang terms, hateful comments based on skin color
          or background, religious bashing or intolerance, gay bashing, sexist or
          misogynistic material, faith based prejudicial statements, derogatory
          remarks, and all poor taste jokes about these topics. Also note that
          using the word "gay" to describe something as stupid/lame/dumb is not
          allowed. Remember, these boards are open to all walks of life and with
          that comes the need to respect them all. So leave your hate at the door
          please.
    %tr
      %th Trolling
      %td
        %p
          We are all entitled to our opinions and that may included negative
          opinions about a console/game/anything else, but if you are knowingly or
          purposely posting to incite anger/negativity on the board or from the
          community, you will be banned for trolling. These boards are meant for
          meaningful discussions and debates, not a place for you to start
          trouble. Be mindful.
    %tr
      %th Profanity
      %td
        %p
          Offensive language is unacceptable. While we may let you get away with
          anything you might hear on network television (no, NOT cable) or radio,
          don't go overboard. Additionally, a simple rule to follow is "when in
          doubt, leave it out." All letters of an offensive word must be edited
          out. Remember, you don't have to use excessive profanity to get your
          point across, and it's usually better to avoid it altogether. Profanity
          in posts will be edited out, and repeat offenders or those who use
          excessive profanity will be banned. In particular, be careful when
          quoting outside sources or other users as you are responsible for your
          own post and everything inside it. When linking to external sites that
          contain profanity, please include a warning.
        %p
          Note that as thread titles are more visible than thread content, they
          are held to a higher standard. Vulgar, obscene, sexual terms, slang
          terms for body parts, etc. that might otherwise be allowed on the
          boards should not be used in thread titles.
    %tr
      %th Criminal Activity
      %td
        %p
          No discussions of illegal activity will be tolerated on the boards.
          Any instruction on how to carry out illegal activity or admission of
          illegal activity will be dealt with harshly. This includes but is not
          limited to discussions about how to obtain drugs illegally, how to
          steal, fraud, how to kill someone, rape (including statutory rape),
          abuse of humans or animals, and auto theft. To sum up, if it's against
          the law, don't post it.
    %tr
      %th Spam
      %td
        %p
          Purposely spamming a message board with senseless, vacuous, or empty
          messages is highly frowned upon! This includes such things as party
          posts, chain letters, two-word "I agree" or "me too" responses, merely
          posting an icon, one word replies, bumping old topics, +1, "didn't
          read" or "old", continually posting the same topic or post, posting
          the same question across several boards and using the Quote feature
          without contributing anything new to a thread. On a similar note,
          participating in spam attacks (post riots, etc.) on Mindhub or
          planning a spam attack on Mindhub or any other Website is unacceptable,
          and these actions will be reported to your ISP.
    %tr
      %th Circumventing a Ban
      %td
        %p
          Creating an alternate username and logging into the boards to continue
          to post will result in added ban time to your original banned account
          and the new username will be permanently banned.
    %tr
      %th Copyrighted Material
      %td
        %p
          Mindhub users agree not to post any material that is protected by
          copyright, trademark or other proprietary right without the express
          permission of the owner(s) of said copyright, trademark or other
          proprietary right. This includes but is not limited to magazine, book
          and newspaper scans, television broadcasts and copyrighted photos and
          pictures.
    %tr
      %th Advertising & Solicitation
      %td
        %p
          Posting for the pure purpose of driving traffic to your own website
          is not allowed. This includes any pyramid schemes, free offers, other
          board systems, money making ventures, etc. These boards are not an
          advertising platform for you to use. Spam advertising via the Private
          Message system will result in immediate termination of your account.
    %tr
      %th Piracy, ROMs, and Warez
      %td
        %p
          Mindhub has a very strict policy against piracy, ROMs, warez, and the
          illegal use of copyrighted material. Linking to or giving information
          about any site that distributes illegal software, ROMs, media, or
          emulators, seeking help to circumvent any copyright laws, admitting to
          possessing and/or distributing illegal copyrighted material, or
          encouraging software or media piracy is grounds for an immediate ban.
          It is also unacceptable to post first-hand impressions, reviews or
          screenshots of known pirated material. This goes for all copyrighted
          material, including but not limited to games, movies, music and
          television broadcasts.
    %tr
      %th Impersonating Other Users / Accessing Another User's Account
      %td
        %p
          You may not impersonate another board member or create an account
          specifically for the purpose of provoking other users. Also, accessing
          or using someone else's account or attempting to access another
          poster's account is strictly prohibited. If you engage in this type of
          behavior, you will be barred from the boards permanently.
    %tr
      %th Altering Board Code
      %td
        %p
          Altering or changing Mindhub code and/or exploiting code bugs for
          purposes other than what the message boards were intended to do is
          strictly prohibited. On a similar note, using automatic scripts on any
          part of Mindhub is also not permitted. Hacking, altering board code,
          exploiting code bugs and using scripts are all grounds for an
          immediate and permanent ban.
    %tr
      %th Questionable Content
      %td
        %p
          Since we can't have a rule to cover everything, this is the rule to,
          well, cover everything. These are public boards, so act like you would
          if you were in a public place. Mindhub reserves the right to choose
          the guidelines of objectionable content based on its knowledge of
          users and company policy. These issues are left to the discretion of
          the individual moderators, but may include any material that is
          knowingly false and/or defamatory, misleading, inaccurate, abusive,
          vulgar, hateful, harassing, obscene, racist, sexist, profane, sexually
          oriented, threatening, invasive of a person's privacy or that
          otherwise violates any law or encourages conduct constituting a
          criminal offense.


%p
  Mindhub is not responsible for messages posted on Mindhub or the content
  therein. Unless expressly stated otherwise, this includes messages posted by
  Mindhub personnel, agents, representatives et al. Mindhub reserves the right
  to reveal the identity of or whatever information we know about any user in
  the event of a complaint or legal action arising from any message posted by
  said user.

%p
  Mindhub has the right but not the obligation to monitor and/or moderate
  Mindhub. Mindhub reserves the right to change any or all other parts of this
  User Agreement at its sole discretion and without notice, including but not
  limited to implementing Rules of Conduct, Terms of Service and/or other
  measures.










