<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            {{#link-to 'index' classNames="navbar-brand"}}
                <img src="assets/mindhub_logo.png" width="24px">
                MindHub
            {{/link-to}}
        </div>

        <div class="navbar-collapse collapse" data-toggle>
            <div class="btn-group navbar-right">
                <ul class="nav navbar-nav">
                    {{#if auth.signedIn}}
                        <li>
                            {{#link-to 'sign-out' title="Sign out"}}
                                <i class="fa fa-sign-out fa-lg fa-inverse"></i>
                            {{/link-to}}
                        </li>
                        <li>
                            <a href="#" title="Edit my preferences">
                                <i class="fa fa-edit fa-lg fa-inverse"></i>
                            </a>
                        </li>
                        {{#if auth.user.isAdmin}}
                            <a href="/admin" title="Administration Console">
                                <i class="fa fa-users fa-lg fa-inverse"></i>
                            </a>
                        {{/if}}
                        <li>
                            <a href="#" title="My email address">
                                <label class="label label-default">{{auth.user.email}}</label>
                            </a>
                        </li>
                    {{else}}
                        <li>
                            {{#link-to 'sign-in' title="Sign in"}}
                                <i class="fa fa-sign-in fa-lg fa-inverse"></i>
                            {{/link-to}}
                        </li>
                        <li>
                            {{!view HubHub.MenuItemView href="#/registration" label="Register"}}
                            <a href="#" title="Sign up">
                                <i class="fa fa-check fa-lg fa-inverse"></i>
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</div>
