<div class="navbar navbar-default" id="spokebar" role="navigation">
    <div class="container">
        <div class="navbar-form navbar-left">
            {{outlet 'spokes'}}
        </div>
        <div class="navbar-form">
            {{outlet 'spoke'}}
        </div>
    </div>
</div>
