<div id="footer">
    <div class="container">
        <div class="row row-offcanvas">
            <div class="footer-content col-md-12">
                <footer>
                    <ul class="horizontal-list">
                        <li>
                            <a href="http://www.creativefresno.com">Creative Fresno</a>
                        </li>
                        <li>
                            {{#link-to 'tos'}}Terms of Service{{/link-to}}
                        </li>
                        <li>
                            {{#link-to 'faq'}}FAQ{{/link-to}}
                        </li>
                        <li>
                            <a href="mailto:admin@chat.mindhub.org">Email Us</a>
                        </li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>
</div>
