<div id="footer">
    <div class="container">
        <div class="row row-offcanvas">
            <div class="footer-content col-md-12">
                <footer>
                    <ul class="horizontal-list">
                        (footer items)
                    </ul>
                </footer>
            </div>
        </div>
    </div>
</div>
