<div class="btn-group-vertical btn-group-xs pull-right">
    <button class="btn btn-success disabled" title="MindHub members have upvoted this XXXXXXX times.">
        <i class="fa fa-plus-square"></i>
        XXXXX
    </button>
    <button class="btn btn-danger" title="MindHub members have downvoted this YYYYYY times.">
        <i class="fa fa-minus-square"></i>
        YYYYY
    </button>
    <button class="btn btn-info" title="MindHub members have responded to this ZZZZZ times.">
        <i class="fa fa-comments-o"></i>
        ZZZZZ
    </button>
</div>
