<div id="navigation">
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                {{#link-to 'index' classNames="navbar-brand"}}
                    <img src="assets/mindhub_logo.png" width="24px">
                    MindHub
                {{/link-to}}
            </div>

            <div class="navbar-collapse collapse">
                <div class="btn-group navbar-right">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        (UserName)
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li>Logout</li>
                        <li>Edit account</li>
                        <li class="divider"></li>
                        <li>Site Administration</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
