<h2>Sign in</h2>

<form role="form">
    <div class="form-group">
        <label for="email">Email</label>
        {{input value=email classNames="form-control"}}
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        {{input type="password" value=password classNames="form-control"}}
    </div>

    <div class="form-group">
        {{input type="checkbox" checked=rememberMe classNames="checkbox"}}
        <label for="">Remember Me</label>
    </div>

    <div>
        <button class="btn btn-default" {{action signIn}}>Sign in</button>
    </div>
</form>
