<ul class="spokes-listing list-group">
    {{#each controller}}
        <li class="list-group-item">
            Name: {{name}}
        </li>
    {{else}}
        <li>no spokes… :-(</li>
    {{/each}}
</ul>
