<ul class="spokes-listing list-group">
    {{#each controller}}
        <li class="list-group-item">
            {{#link-to 'spoke' this}}{{name}}{{/link-to}}
        </li>
    {{else}}
        <li>no spokes… :-(</li>
    {{/each}}
</ul>

<div id="spoke-show">
    {{outlet}}
</div>
