<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Spokes
        <span class="caret"></span>
    </button>

    <hr/>

    <ul class="dropdown-menu">
        <li>{{#link-to 'posts'}}All Spokes{{/link-to}}</li>
        <li class="divider"></li>
        {{#each}}
            <li>
                {{#link-to 'spoke' this data-toggle="tab"}}
                    {{name}}
                {{/link-to}}
            </li>
        {{else}}
            <li>No spokes.  Hmm...</li>
        {{/each}}
    </ul>
</div>

{{outlet}}
