{{#if user}}
    <div class="container">
        <div class="greeting alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

        <span class="hello" >Hi
            {{#if isAuthenticated}}
                {{hiName}}
            {{else}}
                guest
            {{/if}}
        </span>

        </div>
    </div>
{{/if}}
