/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */

@import "bootstrap_and_overrides.css.scss";
@import "site_and_mailer.css.scss";

html, body {
  height: 100%;
}

#main {
  min-height: 100%;
  height: auto;
  //margin: 0 auto -40px;
  //padding: 0 40px 40px;
}

#spokebar {
  padding: $navbar-height - 10;
  padding-bottom: 60px;
  height: 40px;
}

#footer {
  height: 20px;
  background-color: $mindhubGreen;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.background-image {
  background-image: url('mindhub_logo_background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 80% 30px;
}

.sign-up > a {
  color: $mindhubWhite !important;
}

div.row.even {
  background-color: $postBackgroundGreen;
}

#header-brand {
  color: $mindhubGreenWhite;
}

/*
.navbar .container {
  height: 40px;

  .home_link {
    float: left;
    display: block;

    img {
      margin-top: 10px;
      width: 20px;
      height: 20px;
      padding-right: 10px;
    }

    p {
      line-height: 40px;
      float: left;
      color: #999999;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .btn-group {
    margin-top: 6px;
    padding: 0 !important;
    font-weight: bold;

    .btn {margin: 0 !important;}

    .login {color: white;}
  }
}

#main {
  min-height: 100%;
  height: auto !important;
  height: 97%;
  margin: 0 auto -100px;
  margin-bottom: 0 !important;
  padding: 40px 20px;
}

.hero-unit {
  padding: 20px 60px;
}

.background-image {
  background-image: url('mindhub_logo_background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 80% 30px;
}

.votable-item-count {
  font-size: 18px;
  font-weight: bold;
  padding-left: 8px;
  color: $linkColor;
  text-align: center;
  margin-right: 10px;
  margin-top: -15px;
  margin-bottom: 2px;
}

.nav-list {
  margin-bottom: 2em;
  li.nav-header {
    padding-left: 0;
  }
  h4 {
    margin-bottom: .25em;
    font-size: 150%;
    font-weight: bold;
  }
}

.votable-item-area {
  height: 60px;
}

*/
