/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap_and_overrides.css.scss";

.background-image {
  background-image: url('mindhub_logo_background.png');
  background-repeat: no-repeat;
  background-attachment:  fixed;
  background-position: 75% 81px;
}

.votable-item-count {
  font-size: 18px;
  font-weight: bold;
  padding-left: 8px;
  color: $linkColor;
  text-align: center;
  margin-right: 10px;
  margin-top: -15px;
  margin-bottom: 2px;
}

.votable-item-area {
  height: 60px;
}

.description-bottom {
  background-color: #fff;
  padding: 10px;
  spacing: 10px;
  margin: 15px -20px -5px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 2px rgba(0,0,0,.15);
  box-shadow: 0 0 2px rgba(0,0,0,.15);
}
