@import "site_and_mailer.css.scss";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "email_mailchimp.css.scss";

@import "bootstrap/scaffolding";
@import "bootstrap/layouts";
@import "bootstrap/type";
@import "bootstrap/labels-badges";
@import "bootstrap/hero-unit";
@import "bootstrap/wells";

#templateContainer {
  position: relative;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  padding-top: 19px;
  padding-right: 19px;
  padding-bottom: 14px;
  padding-left: 19px;
  border: 1px solid #ddd;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color:
    rgb(221, 221, 221);
  border-bottom-color:
    rgb(221, 221, 221);
  border-left-color:
    rgb(221, 221, 221);
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#utility {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

// Override bootstrap
.well {
  border:  $mindhubWhite;
}
