@import 'variables.css.scss';

.horizontal-list li {
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;
  padding-left: 10px;
  margin-right: 20px;
  width:  90px;

  a {
    color: $mindhubWhite !important;
  }
}

html, body {
  font-family: $sansFontFamily;
}
