$mindhubGreen: #99cc33;
$mindhubGreenWhite: #f6faec;
$mindhubBlack: #0c1004;


$mindhubHoverGreen: #dbf5a6;
//$mindhubPurple: #92058e;
$mindhubPurple: #3f4a7f;
$linkColor: #005fbf;
$postBackgroundGreen: #faf8eb;
$postBackgroundBlue: #ebecfa;
$mindhubWhite: #fff;

// Borrowed from bootstrap
//$linkColor:             #08c !default;
//$linkColorHover:        darken($linkColor, 15%) !default;
