$mindhubGreen: #99cc33;
$mindhubHoverGreen: #dbf5a6;
$mindhubPurple: #92058e;
$linkColor: #005fbf;
$postBackgroundGreen: #faf8eb;
$postBackgroundBlue: #ebecfa;
$mindhubWhite: #fff;

// Borrowed from bootstrap
$linkColor:             #08c !default;
$linkColorHover:        darken($linkColor, 15%) !default;
