.well
  %ul.nav.nav-list
    - if request.original_url.match admin_users_path
      %li.active
        = link_to admin_users_path do
          %i.icon-user
          Users
    - else
      %li
        = link_to admin_users_path do
          %i.icon-user
          Users

    - if request.original_url.match admin_inappropriate_items_path
      %li.active
        = link_to admin_inappropriate_items_path do
          %i.icon-warning-sign
          Inappropriate items
    - else
      %li
        = link_to admin_inappropriate_items_path do
          %i.icon-warning-sign
          Inappropriate items
