.well
  %ul.nav.nav-list
    %li{ class: active_li? { current_page?(admin_users_path) } }
      = link_to admin_users_path do
        %i.icon-user
        Users

    %li{ class: active_li? { current_page?(admin_inappropriate_items_path) } }
      = link_to admin_inappropriate_items_path do
        %i.icon-warning-sign
        Inappropriate Items

    %li{ class: active_li? { current_page?(admin_edit_digest_email_settings_path) } }
      = link_to admin_edit_digest_email_settings_path do
        %i.icon-envelope
        Digest Email Settings

