.well
  %ul.nav.nav-list
    %li{ class: active_li? { request.original_url.match admin_users_path } }
      = link_to admin_users_path do
        %i.icon-user
        Users

    %li{ class: active_li? { request.original_url.match admin_inappropriate_items_path } }
      = link_to admin_inappropriate_items_path do
        %i.icon-warning-sign
        Inappropriate items


