.container
  %footer.description-bottom
    .container
      .offset1.span3
        %ul.unstyled
          %li
            A project of
            = link_to 'Creative Fresno', 'http://creativefresno.ning.com/'
          %li
            = link_to 'Terms of Service', home_tos_path
          %li
            = mail_to 'admin@chat.mindhub.org', 'Email Us'
