#inappropriateFlag.modal.hide.fade{ "aria-hidden" => "true",
  "aria-labelledby" => "flagModal", role: "dialog", tabindex: "-1" }

  .modal-header{ style: "background-color: orange;" }
    %button.close{ "aria-hidden" => "true", "data-dismiss" => "modal", type: "button" } ×
    %h3#flagModal
      %i.icon-warning-sign
      Flagging as Inappropriate

  .modal-body
    %p
      = inappropriate_confirm_message

  .modal-footer
    %button.btn.btn-primary{ "aria-hidden" => "true", "data-dismiss" => "modal" } Close
