.navbar.navbar-fixed-top.navbar-inverse{ role: 'navigation' }
  .container
    .navbar-header
      = link_to 'MindHub', root_url, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.navbar.navbar-nav
