%a{ href: root_path }
  =image_tag('mindhub_logo.png', class: 'pull-left',
     style: 'width: 25px; padding-top: 7px; padding-right: 5px; ')
  %p.pull-right.brand MindHub
%ul.nav
  - if user_signed_in?
    %li
      = link_to('Logout', destroy_user_session_path, :method=>'delete')
  - else
    %li
      = link_to('Login', new_user_session_path)
  - if user_signed_in?
    %li
      = link_to('Edit account', edit_user_registration_path)
  - else
    %li
      = link_to('Sign up', new_user_registration_path)
