- @background_color = '#980000'

= content_for(:container) do
  .container-fluid
    .row
      .span3
        %br
        = render 'layouts/admin_sidebar'

      .span9
        .container#main-panel
          .content
            = yield

= render template: 'layouts/application'
