= content_for(:container) do
  .container-fluid{ style: "background-color: red;" }
    .content
      .row-fluid
        .span3
          = render 'layouts/admin_sidebar'

        .span9
          = yield

= render template: 'layouts/application'
