%html
  %head
    = stylesheet_link_tag 'email', media: 'all'

  %body{:leftmargin => "0", :marginheight => "0", :marginwidth => "0", :offset => "0", :topmargin => "0"}
    %center
      %table#backgroundTable{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :width => "100%"}
        %tr
          %td{:align => "center", :valign => "top"}
            %table#templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
              %tr
                %td{:align => "center", :valign => "top"}
                  / // Begin Template Header \\
                  %table#templateHeader{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                    %tr
                      %td.headerContent
                        / // Begin Module: Standard Header Image \\
                        .hero-unit.background-image
                          %h1 MindHub
                          %p Connecting California's Central Valley
                        / // End Module: Standard Header Image \\
                  / // End Template Header \\
              %tr
                %td{:align => "center", :valign => "top"}
                  / // Begin Template Body \\
                  %table#templateBody{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                    %tr
                      %td{:valign => "top"}
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                          %tr
                            %td.bodyContent{:valign => "top"}
                              / // Begin Module: Standard Content \\
                              %table{:border => "0", :cellpadding => "20", :cellspacing => "0", :width => "100%"}
                                %tr
                                  %td{:valign => "top"}
                                    %div
                                      = yield
                              / // End Module: Standard Content \\
                      - if content_for? :sidebar
                        = render partial: 'post_mailer/sidebar', locals: { admin_spoke: @admin_spoke }
                  / // End Template Body \\
              %tr
                %td{:align => "center", :valign => "top"}
                  / // Begin Template Footer \\
                  %table#templateFooter{:border => "0", :cellpadding => "10", :cellspacing => "0", :width => "600"}
                    %tr
                      %td.footerContent{:valign => "top"}
                        / // Begin Module: Standard Footer \\
                        %table{:border => "0", :cellpadding => "10", :cellspacing => "0", :width => "100%"}
                          %tr
                            %td#utility{:colspan => "2", :valign => "middle"}
                              %div
                                = render 'layouts/footer'
                        / // End Module: Standard Footer \\
                  / // End Template Footer \\
            %br/
